
<div class="row">
 <div class="col-md-12">

  <h1 id="cat">Agregar nuevo Gatito</h1>
  <h2>{{title}}</h2>

   <form action="/products" method="POST">
     <input id="name" name="name" type="text" placeholder="Nombre">
     <br>
     <input id="photo" name="photo" type="text" placeholder="Url-Imagen">
     <br>
     <input id="stock" name="stock" type="text" placeholder="Stock">
     <br>
     <br>
     <button type="submit" class="btn btn-success btn-lg"id="enviar"><span class="glyphicon glyphicon-upload"></span> Enviar</button>
   </form>
 </div>
</div>

</div>