<div class="row">
  <div class"col-md-12">
   <h1>Agregar nuevo Gatito</h1>
   <h2>{{title}}</h2>
 </div>
</div>

<br>

<div class="row">
 <div class="col-md-12">
   <form action="/products" method="POST">
     <label for="name">Nombre</label>
     <input id="name" name="name" type="text">
     <br>
     <label for="photo">Url-Imagen</label>
     <input id="photo" name="photo" type="text">
     <br>
     <label for="stock">Stock</label>
     <input id="stock" name="stock" type="text">
     <br>
     <button type="submit" class="custombtn">Submit</button>
   </form>
 </div>
</div>

</div>